USE [master]
GO
/****** Object:  Database [BD_CORRECTDATA]    Script Date: 19/02/2018 22:33:44 ******/
CREATE DATABASE [BD_CORRECTDATA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_CORRECTDATA', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL13.DEVELOPDBA\MSSQL\DATA\BD_CORRECTDATA.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BD_CORRECTDATA_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL13.DEVELOPDBA\MSSQL\DATA\BD_CORRECTDATA_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_CORRECTDATA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_CORRECTDATA]
GO
/****** Object:  Table [dbo].[Contato]    Script Date: 19/02/2018 22:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contato](
	[IdContato] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](150) NULL,
	[Email1] [nvarchar](150) NULL,
	[Email2] [nvarchar](150) NULL,
	[Telefone1] [nvarchar](22) NULL,
	[Telefone2] [nvarchar](22) NULL,
 CONSTRAINT [PK_Contato] PRIMARY KEY CLUSTERED 
(
	[IdContato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  StoredProcedure [dbo].[sp_AlterarContato]    Script Date: 19/02/2018 22:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AlterarContato]
@Id int,
@Nome varchar(150),
@Email1 varchar(150),
@Email2 varchar(150),
@Telefone1 varchar(22),
@Telefone2 varchar(22)
AS
BEGIN
UPDATE Contato SET 
		Nome = @Nome,
		Email1 = @Email1,
		Email2 = @Email2,
		Telefone1 = @Telefone1 ,
		Telefone2 = @Telefone2
WHERE IdContato = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarPorLetra]    Script Date: 19/02/2018 22:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE PROCEDURE [dbo].[sp_BuscarPorLetra]
	@Letra char(1) = null

AS
BEGIN
	SELECT IDCONTATO, NOME,
	COALESCE(EMAIL1,EMAIL1,'b') as EMAIL1,COALESCE(EMAIL2,EMAIL2,'--') as EMAIL2,
    COALESCE(TELEFONE1,TELEFONE2,'--')as  TELEFONE1,COALESCE (TELEFONE2,TELEFONE2,'--') as TELEFONE2   
                         FROM CONTATO
		WHERE(@Letra IS NULL OR Nome LIKE @Letra + '%')
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ExcluirContato]    Script Date: 19/02/2018 22:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ExcluirContato]
	@Id int
AS
BEGIN
		DELETE   Contato 
		WHERE IdContato = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InserirContato]    Script Date: 19/02/2018 22:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[sp_InserirContato]
@Nome varchar(150),
@Email1 varchar(150),
@Email2 varchar(150),
@Telefone1 varchar(22),
@Telefone2 varchar(22)
AS
BEGIN
INSERT INTO Contato 
	(Nome,Email1,Email2,Telefone1,Telefone2)
	VALUES(@Nome,@Email1,@Email2,@Telefone1,@Telefone2)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarContato]    Script Date: 19/02/2018 22:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarContato]
	@letra nchar(1) = NULL
AS
BEGIN
	SELECT IdContato,Nome,Email1,Email2,Telefone1,Telefone2 FROM Contato
	ORDER BY Nome;
END
  
GO
/****** Object:  StoredProcedure [dbo].[sp_ObterContato]    Script Date: 19/02/2018 22:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[sp_ObterContato]
	@IdContato int =null,
	@Nome varchar(100)= Null

AS
BEGIN
	SELECT IDCONTATO, NOME,
	COALESCE(EMAIL1,EMAIL1,'b') as EMAIL1,COALESCE(EMAIL2,EMAIL2,'--') as EMAIL2,
    COALESCE(TELEFONE1,TELEFONE2,'--')as  TELEFONE1,COALESCE (TELEFONE2,TELEFONE2,'--') as TELEFONE2   
                         FROM CONTATO
	WHERE (@IdContato IS NULL OR IdContato = @IdContato)
	AND
	(@Nome IS NULL OR Nome LIKE '%' + @Nome + '%')
END
GO
USE [master]
GO
